mat-toolbar {
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  color: rgb(253, 247, 247);
  padding: 10px 30px;
}

.logo {
  text-decoration: none;
  color: rgb(247, 241, 241);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.logo:hover {
  color: #00e5ff;
}

.spacer {
  flex: 1 1 auto;
}

button {
  color: #e71b1b !important;
  font-weight: 500;
  margin-left: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}
